# Week 1 handin

## 01 Assignment
1. Create 5 list comprehensions to solve the following 5 problems:
  1. Iterate a list of names to return a list of the names starting with H
  2. In one line create a list of the numbers 1-100 to the power of 3
  3. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
  4. Iterate over each character in a string and get only those that are nummeric
  5. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

2. Create 2 dictionary comprehensions to solve the following:
  1. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
  2. Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

3. Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).
  - Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

## 02 Status
All week 1 exercises have been completed except the extra assignment.

## 1. Create 5 list comprehensions to solve the following 5 problems:

### A. Iterate a list of names to return a list of the names starting with H

In [10]:
names_list = list(["Hassanain","Ali","Søren","Jacob","Henrik"])

h_names = [name for name in names_list
          if name[0] == "H"]

h_names

['Hassanain', 'Henrik']

### B. In one line create a list of the numbers 1-100 to the power of 3

In [23]:
print([numbers ** 3 for numbers in list(range(101))])

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

### C. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

In [26]:
names_list = list(["Hassanain","Ali","Søren","Jacob","Henrik"])

tuples_list = [(names, len(names)) for names in names_list]

tuples_list

[('Hassanain', 9), ('Ali', 3), ('Søren', 5), ('Jacob', 5), ('Henrik', 6)]

### D. Iterate over each character in a string and get only those that are nummeric

In [65]:
names_string = "8a55ana1n, A11, 50r3n, Jac0b, 83nr1k"
for number in range(0, len(names_string)):
    if names_string[number].isnumeric():
        print(names_string[number])

8
5
5
1
1
1
5
0
3
0
8
3
1

### E. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

In [84]:
dice_rolls = {(dice1, dice2) for dice1 in range(1,7) for dice2 in range(1,7)}

dice_rolls

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

## 2. Create 2 dictionary comprehensions to solve the following:

### A. Iterate a list of names and create a dictionary where key is the name and value is the length of the name

In [71]:
names_list = list(["Hassanain","Ali","Søren","Jacob","Henrik"])
print(names_list)
names_dict = {name: len(name) for name in names_list}
print(names_dict)

['Hassanain', 'Ali', 'Søren', 'Jacob', 'Henrik']
{'Hassanain': 9, 'Ali': 3, 'Søren': 5, 'Jacob': 5, 'Henrik': 6}

### B. Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

In [82]:
import math
key_list = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25)
key_list
numbers_dict = {number:math.sqrt(number) for number in key_list}
numbers_dict

{1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 8: 2.8284271247461903,
 9: 3.0,
 10: 3.1622776601683795,
 11: 3.3166247903554,
 12: 3.4641016151377544,
 13: 3.605551275463989,
 14: 3.7416573867739413,
 15: 3.872983346207417,
 16: 4.0,
 17: 4.123105625617661,
 18: 4.242640687119285,
 19: 4.358898943540674,
 20: 4.47213595499958,
 21: 4.58257569495584,
 22: 4.69041575982343,
 23: 4.795831523312719,
 24: 4.898979485566356,
 25: 5.0}